* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    background-color: #f8f8fd;
    width: 100%;
    height: 100%;
    font-family: 'Inter', sans-serif;
}

.navbar-container {
    position: fixed;
    width: fit-content;
    z-index: 1000;
}

.navbar {
    display: flex;
    flex-direction: column;
    width: 105px;
    height: 100vh;
    align-items: center;
    top: 0%;
    left: 0%;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.logo {
    margin-bottom: 114px;
}

.nav-icon {
    margin-bottom: 33px;
}

.icon {
    fill: #7A7A7A;
}

.icon:hover {
    fill: #f56f69;
    /* Color on hover */
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Center horizontally */
    height: 100vh;
    /* Full viewport height */
    margin-left: 105px;
    /* Offset by the width of the navbar */
    width: calc(100% - 105px);
    /* Take the remaining width */
}

.profile {
    display: flex;
    flex-direction: column;
    width: fit-content;
    align-self: center;
    margin-bottom: 242px;
    margin-top: 242px;
}

.profile p {
    margin: 0px;
}

.profile img {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-bottom: 32px;
}

.profile-title {
    color: #2A2937;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 7px;
    opacity: 0;
    animation: animation-top 0.5s ease forwards;
}

@keyframes animation-top {
    0% {
        transform: translateY(-100px);
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes animation-top-2 {
    0% {
        transform: translateY(-100px);
    }

    50% {
        opacity: 0%;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.profile-description {
    color: #2A2937;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    opacity: 0;
    animation: animation-top-2 1s ease forwards;
    animation-delay: 0.5s;
}

.scroll-container {
    align-self: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    opacity: 100%;
    animation: animation-bottom 2.5s ease;
   
}

.scroll-container:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}

@keyframes animation-bottom {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    80% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.container-offset {
    width: calc(100% - 281px);
    margin-left: 193px;
    margin-right: 88px;
}

.about-container {
    margin-top: 300px;
    display: flex;
    height: fit-content;
}

.about-left {
    width: 30%;
}

.about-right-background {
    display: flex;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.20);
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 50px;
    padding-top: 50px;
}

.about-right {
    width: 70%;
    display: flex;
    margin-bottom: 300px;
    margin-top: 90px;
    opacity: 0;
}

.about-right-anim {
    animation: animation-right 1.5s ease forwards;
}

@keyframes animation-right {
    0% {
        transform: translateX(100px);
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.title {
    color: #2A2937;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 50px;
}

.about-description {
    width: 50%;
}

.des-text {
    width: 90%;
    color: #2A2937;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}

.des-button {
    color: #ffffff;
    background-color: #f56f69;
    font-family: Inter;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    border: none;
    width: 206px;
    height: 49px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.des-button:hover {
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.25);
    background-color: #e55952;
    transform: translateY(-3px);
}

.des-button:active {
    background-color: #e55952;
}

.skills-bar {
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    align-items: flex-end;
}

.bar-container {
    display: flex;
}

.bar-title {
    color: #2A2937;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.bar-grey {
    background-color: #d9d9d9;
    /* Light grey color for the unfilled part of the skill bar */
    border-radius: 3px;
    /* Optional: rounds the corners of the bar */
    width: 318px;
    /* Full width of the container */
    height: 10px;
    /* Height of the skill bar */
}

.bar-yellow {
    background-color: #ffc95e;
    /* Light grey color for the unfilled part of the skill bar */
    border-radius: 3px;
    /* Optional: rounds the corners of the bar */
    width: 85%;
    /* Full width of the container */
    height: 10px;
}

.bar-red {
    background-color: #FE695A;
    /* Light grey color for the unfilled part of the skill bar */
    border-radius: 3px;
    /* Optional: rounds the corners of the bar */
    width: 85%;
    /* Full width of the container */
    height: 10px;
}

.bar-blue {
    background-color: #6B7CEB;
    /* Light grey color for the unfilled part of the skill bar */
    border-radius: 3px;
    /* Optional: rounds the corners of the bar */
    width: 80%;
    /* Full width of the container */
    height: 10px;
}

.bar-green {
    background-color: #80C898;
    /* Light grey color for the unfilled part of the skill bar */
    border-radius: 3px;
    /* Optional: rounds the corners of the bar */
    width: 70%;
    /* Full width of the container */
    height: 10px;
}

.percentage {
    color: #2A2937;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 10px;
}

.skills-container {
    margin-bottom: 300px;
}

.skill-blocks {
    display: grid;
    grid-template-columns: repeat(5, auto);
    /* Creates 5 columns */
    grid-template-rows: repeat(2, auto);
    /* Creates 2 rows */
    justify-content: space-between;
    row-gap: 77px;
    margin-right: 0%;
}

.skill-blocks>div:hover {
    transform: scale(1.1);
}

.skill-blocks>div {
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}

/* .block-blue:hover, .block-green:hover, .block-lightblue:hover, .block-red:hover, .block-yellow:hover{
    transform: scale(1.5);
} */

.block-yellow {
    width: 170px;
    height: 170px;
    border-radius: 20px;
    background: rgba(255, 201, 94, 0.60);
    box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.block-red {
    width: 170px;
    height: 170px;
    border-radius: 20px;
    background: rgba(254, 105, 90, 0.60);
    box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.block-blue {
    width: 170px;
    height: 170px;
    border-radius: 20px;
    background: rgba(107, 124, 235, 0.60);
    box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.block-green {
    width: 170px;
    height: 170px;
    border-radius: 20px;
    background: rgba(128, 200, 152, 0.60);
    box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.block-lightblue {
    width: 170px;
    height: 170px;
    border-radius: 20px;
    background: rgba(157, 190, 251, 0.60);
    box-shadow: 6px 6px 6px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skills-logo {
    margin-bottom: 15px;
}

.skills-text-black {
    color: #2A2937;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.skills-text {
    color: #ffffff;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.education-container {
    margin-bottom: 300px;
}

.edu-block {
    border-radius: 20px;
    background: #FFF;
    box-shadow: 9px 9px 8px 0px rgba(0, 0, 0, 0.25);
    padding-top: 50px;
    padding-bottom: 35px;
    padding-left: 50px;
    padding-right: 50px;
}

.section-top {
    display: flex;
}

.edu-time {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 25px;
    color: #7A7A7A;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.section-middle {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.section-middle p {
    color: #2A2937;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.section-bottom {
    margin-left: 17.5px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 20px;
    padding-left: 40px;
    border-left: 1px #f56f69 solid;
}

.edu-name {
    color: #2A2937;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.edu-description {
    color: #2A2937;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.projects-container {
    margin-bottom: 300px;
}

.projects-blocks {
    display: grid;
    grid-template-columns: repeat(3, auto);
    row-gap: 120px;
    justify-content: space-between;
    margin-right: 0%;
}

.projects-blocks>div:hover {
    transform: scale(1.1);
}

.projects-blocks>div {
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}


.projects-block {
    width: 330px;
    height: 240px;
    border-radius: 15px;
    flex-shrink: 0;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .project :hover{
    transform: scale(1.1);
} */

.contact-sections {
    display: flex;
    justify-content: space-between;
}

.section {
    display: flex;
}

.contact-text {
    color: #2A2937;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 15px;
}

.project-container {
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
}

.projectNav {
    border-bottom: 1px solid #2A2937;
    padding-bottom: 10px;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.navHome {
    text-decoration: none;
    color: #2A2937;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.project-title {
    color: #2A2937;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-top: 50px;
    margin-bottom: 50px;
}

.ytb-videolink {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.video {
    align-items: center;
    justify-content: center;
}

.project-subtitle {
    color: #2A2937;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 40px;
}

.img-wrapper {
    position: relative;
    display: flex;
    width: fit-content;
    height: fit-content;
    margin-bottom: 90px;
}

.img-wrapper a {
    display: flex;
    text-decoration: none;
    width: fit-content;
}

.img-wrapper :hover .visit-website {
    visibility: visible;

}

.travelplan-photo {
    max-width: 837px;
    width: 100%;
    height: auto;
}

.visit-website {
    visibility: hidden;
    position: absolute;
    top: 50%;
    /* Center vertically */
    left: 50%;
    /* Center horizontally */
    transform: translateX(-50px);
}

.project-text {
    color: #2A2937;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 30px;
}

.footer {
    margin-top: 100px;
    width: calc(100% - 281px);
    margin-left: 193px;
    margin-right: 88px;
    padding-bottom: 10px;
}

.project-list {
    padding-bottom: 30px;
}

.project-img {
    max-width: 1000px;
    width: 100%;
    height: auto;
}

.footer-1 {
    padding-top: 80px;
    padding-bottom: 20px;
    font-size: 20px;
    color: #2a2937;
    display: flex;
    align-items: center;
    justify-content: center;
}

.abc-img {
    display: flex;
    margin-bottom: 20px;
}

@media only screen and (max-width: 1024px) {
    .title {
        color: #2A2937;
        font-family: Inter;
        font-size: 28px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
        margin-bottom: 50px;
    }

    .about-container {
        margin-top: 300px;
        display: flex;
        flex-direction: column;
        height: fit-content;
    }

    .about-right {
        width: auto;
    }

    .about-right-background {
        border-radius: 16px;
        padding-left: 35px;
        padding-right: 35px;
        padding-bottom: 50px;
        padding-top: 50px;
    }

    .des-text {
        font-size: 16px;
    }

    .bar-title {
        font-size: 12px;
    }

    .bar-grey {
        width: 200px;
    }

    .percentage {
        font-size: 12px;
    }

    .des-button {
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        border: none;
        width: 150px;
        height: 45px;
    }

    .skill-blocks {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(4, auto);
        justify-content: space-between;
        row-gap: 77px;
        margin-right: 0%;
    }

    .block-yellow {
        width: 150px;
        height: 150px;
    }

    .block-red {
        width: 150px;
        height: 150px;
    }

    .block-blue {
        width: 150px;
        height: 150px;
    }

    .block-green {
        width: 150px;
        height: 150px;
    }

    .block-lightblue {
        width: 150px;
        height: 150px;
    }

    .skills-text-black {
        font-size: 20px;
    }

    .skills-text {
        font-size: 20px;
    }

    .edu-time {
        font-size: 16px;
    }

    .section-middle p {
        font-size: 20px;
    }

    .edu-description {
        font-size: 16px;
    }

    .projects-blocks {
        grid-template-columns: repeat(2, auto);
        column-gap: 30px;
    }

    .projects-block {
        width: 250px;
        height: auto;
    }

    .project img {
        width: 100%;
        height: 100%;
    }

    .contact-sections {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .contact-text {
        font-size: 20px;
        margin-left: 10px;
        margin-bottom: 10px;
    }

    .footer-1 {
        font-size: 16px;
    }
}